node_modules
build
coverage
coverage.json
dist
typechain-types
.DS_Store
# Compiler files
out
forge
storageLayout
.openzeppelin
# Ignores development broadcast logs
broadcast
deployments
# Docs
docs/

# Dotenv file
.env
